<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/add.css">
    <title>Add Your Subject</title>
</head>
<body>
    <div class="heading">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        <h1>Attendance Tracker</h1>
    </div>
    <div class="form-container">
        <h2>Add Your Subjects</h2>
        <div class="add-subject-form-container">
            <form action="/subject/add" method="post" name="subjectName">
                <label for="subjectName">Enter Subject Name</label>
                <input name="subjectName" type="text" placeholder="e.g. Maths">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    
</body>
</html>