*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-color: rgb(88, 157, 209);
}

.heading{
    height: 80px;
    text-align: center;
    padding: 18px;
    background-color: rgb(41, 61, 105);
    color: white;
}

.form-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

button{
    padding: 10px;
    width: 5vmax;
    border-radius: 20px;
    font-size: 15px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(41, 61, 105);
    color: white;
}

label{
    font-size: 20px;
    font-weight: 500;
}

.add-subject-form-container form input{
    width: 15vw;
    height: 30px;
    border: 2px solid rgb(164, 159, 159);
    margin: auto 20px;
}

.heading ul li a{
    display: block;
    padding: 3px 22px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

ul{
    float: right;
    list-style: none;
    height: 100%;
}

ul li{
   padding: 10px 0;
}

ul li:hover{
    background-color:  rgb(51, 79, 139);
    cursor: pointer;
}


@media screen and (max-width:480px) {
    .heading h1{
        font-size: 23px;
        padding-top: 11px;
    }

    .heading ul li a {
        padding: 4px 13px;
    }

    .form-container{
        padding-top: 100px;
    }

    .add-subject-form-container form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .add-subject-form-container form input{ 
        width: 100%;
        padding-left: 10px;
        border-radius: 10px;
    }

    button{
        padding: 10px;
        width: 80px;
        border-radius: 20px;
        font-size: 12px;
    }
}
